<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kenya Women Surgeons</title>
    <!-- <link rel="stylesheet" href="/stylesheets/landing.css"> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@200;400;600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Aref+Ruqaa&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/main.css">
</head>
<body>
    <nav id="mainNavbar" class="navbar navbar-expand-lg navbar-light fixed-top">
        <a class="navbar-brand" href="/">N.A.W.S</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
            <ul class="nav ">
                <li class="nav-item">
                  <a class="nav-link active" href="/index">HOME</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" href="/membership">MEMBERSHIP</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/blog">BLOG</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/resources">RESOURCES</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/gallery">EVENTS & GALLERY</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/chatroom">CHAT ROOM</a>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">ABOUT/CONTACT</a>
                  <div class="dropdown-menu">
                    <a class="dropdown-item" target="blank" href="https://makini-makini.herokuapp.com/">ABOUT AUTHOR</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/contact">CONTACT US</a>
                  </div>
                </li>
              </ul>
        </div>
    </nav>