<%- include ("partials/header")%>

<section class="container-fluid mt-0 mt-md-5" style="background-color: aqua;">
    <div class="row">
        <div class="col-lg-6">
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row no-gutters">
                  <div class="col-md-4">
                    <img src="https://images.unsplash.com/photo-1572348805897-a0ca00b77e5b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80" class="card-img" alt="...">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title">Love in Medical School</h5>
                      <p class="card-text">I want you to think of your first love.  Close your eyes, and think of them. Mine was a blonde-haired nerdy linebacker on my college’s football team. I remember the heartbreak of him moving 14 hours away. We broke up when <a target="blank" href="https://blog.womensurgeons.org/medical-students/the-distance-between-two-worlds/">...More</a></p>
                      <p class="card-text"><small class="text-muted">Dr. Shak Ali</small></p>
                    </div>
                  </div>
                </div>
              </div>
        </div>
        <div class="col-lg-6">
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row no-gutters">
                  <div class="col-md-4">
                    <img src="https://images.unsplash.com/photo-1519011985187-444d62641929?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" class="card-img" alt="...">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title">My First Day in Operating Room</h5>
                      <p class="card-text">I walked into the room while my hands were shaking. I took the next step and <a target="blank" href="#">...More</a></p>
                      <p class="card-text"><small class="text-muted">Mareli Amani - MBChB 5 : <em>Makali Med Sch.</em></small></p>
                    </div>
                  </div>
                </div>
              </div>
        </div>
    </div>
</section>
<section class="container-fluid" style="background-color: pink;">
    <div class="row">
        <div class="col-6">
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row no-gutters">
                  <div class="col-md-4">
                    <img src="https://images.unsplash.com/photo-1543427127-c331ce4346b8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" class="card-img" alt="...">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title">Love for Nature as a Surgeon</h5>
                      <p class="card-text">Nature, the source of my inspiration. I must admit that<a target="blank" href="#">...More</a></p>
                      <p class="card-text"><small class="text-muted">Dr. Ayanna Cook - Senior MD</small></p>
                    </div>
                  </div>
                </div>
              </div>
        </div>
        <div class="col-6">
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row no-gutters">
                  <div class="col-md-4">
                    <img src="https://images.unsplash.com/photo-1545291730-faff8ca1d4b0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" class="card-img" alt="...">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title">An eye of fashion</h5>
                      <p class="card-text">
                        You can have anything you want in life if you dress for it.
                        Clothes mean nothing until someone lives in them.
                        Style is a way to say who <a target="blank" href="#">...More</a></p>
                      <p class="card-text"><small class="text-muted">Veronica Singleton - MBChB 2 <em>Karabushi University</em></small></p>
                    </div>
                  </div>
                </div>
              </div>
        </div>
    </div>
</section>
<section class="container-fluid" style="background-color: aqua;">
    <div class="row">
        <div class="col-6">
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row no-gutters">
                  <div class="col-md-4">
                    <img src="https://images.unsplash.com/photo-1574981370294-edbbf06bb159?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" class="card-img" alt="...">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title">Dated 6 guys in Med School</h5>
                      <p class="card-text">Let me break it from the beginning: None of them is my husband. I joined <a target="blank" href="#">...More</a></p>
                      <p class="card-text"><small class="text-muted">Dr. Leia Juliana</small></p>
                    </div>
                  </div>
                </div>
              </div>
        </div>
        <div class="col-6">
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row no-gutters">
                  <div class="col-md-4">
                    <img src="https://images.unsplash.com/photo-1536528947088-d655e462f4d3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" class="card-img" alt="...">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title">I Crammed; I Forgot Everything</h5>
                      <p class="card-text">I always thought medical school was about cramming concepts and passion on. This went right until<a target="blank" href="#">...More</a></p>
                      <p class="card-text"><small class="text-muted">Dr. Nusrali Shahba</small></p>
                    </div>
                  </div>
                </div>
              </div>
        </div>
    </div>
</section>
<section class="container-fluid" style="background-color: pink;">
    <div class="row">
        <div class="col-6">
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row no-gutters">
                  <div class="col-md-4">
                    <img src="https://images.unsplash.com/photo-1571950526661-9011cf119e50?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" class="card-img" alt="...">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title">Being the Hot Girl in Medical School</h5>
                      <p class="card-text">I am writing this with bitterness. I am not married now 6yrs after medical school. I was the hot girl in school but<a target="blank" href="#">...More</a></p>
                      <p class="card-text"><small class="text-muted">Dr. Linda Carleigh</small></p>
                    </div>
                  </div>
                </div>
              </div>
        </div>
        <div class="col-6">
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row no-gutters">
                  <div class="col-md-4">
                    <img src="https://images.unsplash.com/photo-1539008835657-9e8e9680c956?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=400&q=60" class="card-img" alt="...">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title">I Never Miss Church in Medical School</h5>
                      <p class="card-text">Being a christian is the best thing for me. I lead in singing, and church is full when I am the praise leader. So one day<a target="blank" href="#">...More</a></p>
                      <p class="card-text"><small class="text-muted">Emilia Nylah - MBChB 4 : <em>Makini School of Jokers</em></small></p>
                    </div>
                  </div>
                </div>
              </div>
        </div>
    </div>
</section>
<section class="container-fluid" style="background-color: aqua;">
    <div class="row">
        <div class="col-6">
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row no-gutters">
                  <div class="col-md-4">
                    <img src="https://images.unsplash.com/photo-1523983254932-c7e6571c9d60?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" class="card-img" alt="...">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title">Love for African Print</h5>
                      <p class="card-text">Am African. Not because I was born in Africa but because Africa was born in me. Long natural hair and <a target="blank" href="#">...More</a></p>
                      <p class="card-text"><small class="text-muted">Dr. Ntulele Lokipuo MOrio <em>senior MD</em></small></p>
                    </div>
                  </div>
                </div>
              </div>
        </div>
        <div class="col-6">
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row no-gutters">
                  <div class="col-md-4">
                    <img src="https://images.unsplash.com/photo-1525405705122-df4e252e363f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=967&q=80" class="card-img" alt="...">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title">Just Married my Campus Sweetheart</h5>
                      <p class="card-text">I have dated Makini since I was in 2rd year of campus and last weekend we tied the knot. He is a good man, however <a target="blank" href="#">...More</a></p>
                      <p class="card-text"><small class="text-muted">Dr. Karma Paloma <em>MD-jokers hospital</em></small></p>
                    </div>
                  </div>
                </div>
              </div>
        </div>
    </div>
</section>
<section class="container-fluid" style="background-color: pink;">
    <div class="row">
        <div class="col-6">
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row no-gutters">
                  <div class="col-md-4">
                    <img src="https://images.unsplash.com/photo-1564658786419-edcf7895a620?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1051&q=80" class="card-img" alt="...">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title">A Drunkard in Medical School</h5>
                      <p class="card-text">Seems like yesterday. The first sip of alcohol I took was from a friend. She told me<a target="blank" href="#">...More</a></p>
                      <p class="card-text"><small class="text-muted">Peyton Ellie - MBChB 5 : <em>School of Dranks</em></small></p>
                    </div>
                  </div>
                </div>
              </div>
        </div>
        <div class="col-6">
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row no-gutters">
                  <div class="col-md-4">
                    <img src="https://images.unsplash.com/photo-1527613426441-4da17471b66d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1035&q=80" class="card-img" alt="...">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title">My Love for Research</h5>
                      <p class="card-text">Research is the gate to medicine. Am applying for USMLE and <a target="blank" href="#">...More</a></p>
                      <p class="card-text"><small class="text-muted">Dr. Ann Lana</small></p>
                    </div>
                  </div>
                </div>
              </div>
        </div>
        <div class="col-6">
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row no-gutters">
                  <div class="col-md-4">
                    <img src="https://images.unsplash.com/photo-1583198309360-9dfe89b691c8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" class="card-img" alt="...">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title">ADD YOUR POST...</h5>
                      <p class="card-text">post.... <a target="blank" href="#"></a></p>
                      <p class="card-text"><small class="text-muted">Name...</small></p>
                    </div>
                  </div>
                </div>
              </div>
        </div>
    </div>
</section>


<%- include ("partials/footer")%>