<%- include ("partials/header")%>
<section class="container-fluid">
    <div class="card-columns">
        <div class="card">
          <img src="https://images.unsplash.com/photo-1529903384028-929ae5dccdf1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Get Busy Living or Get Busy Dying</h5>
            <p class="card-text">Female Surgeons after leaving the Operating Room</p>
          </div>
        </div>
        <div class="card p-3">
          <blockquote class="blockquote mb-0 card-body">
            <p>“Your time is limited, so don’t waste it living someone else’s life. Don’t be trapped by dogma – which is living with the results of other people’s thinking.”</p>
            <footer class="blockquote-footer">
              <small class="text-muted">
                Steve Jobs in <cite title="Source Title">the world</cite>
              </small>
            </footer>
          </blockquote>
        </div>
        <div class="card">
          <img src="https://images.unsplash.com/photo-1508873699372-7aeab60b44ab?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Dr. Shylyn</h5>
            <p class="card-text">The purpose of our lives is to be happy</p>
            <p class="card-text"><small class="text-muted">Last updated 47 mins ago</small></p>
          </div>
        </div>
        <div class="card bg-danger text-white text-center p-3">
          <blockquote class="blockquote mb-0">
            <p>ANNUAL SYMPOSIUM - SEEMEY HOTEL AND RESORTS, NICARAGUA</p>
            <footer class="blockquote-footer text-white">
              <small>
                CLICK <a href="https://en.wikipedia.org/wiki/Nicaragua">HERE</a> TO REGISTER!
              </small>
            </footer>
          </blockquote>
        </div>
        <div class="card text-center">
          <div class="card-body">
            <h5 class="card-title">COFFEE NIGHTS</h5>
            <p class="card-text">Subscribe to our monthly coffee nights at <a href="https://shop.cafedumonde.com/">CAFÉ DU MONDE</a></p>
            <p class="card-text"><small class="text-muted">Last updated 56 mins ago</small></p>
          </div>
        </div>
        <div class="card">
          <img src="https://images.unsplash.com/photo-1491975474562-1f4e30bc9468?ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" class="card-img-top" alt="...">
        </div>
        <div class="card p-3 text-right">
          <blockquote class="blockquote mb-0">
            <p>Studying for exams in medical school!</p>
            <footer class="blockquote-footer">
              <small class="text-muted">
                Makini.. in <cite title="Source Title">Annals of Fun</cite>
              </small>
            </footer>
          </blockquote>
        </div>
        <!-- <div class="card">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is another card with title and supporting text below. This card has some additional content to make it slightly taller overall.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </div> -->
      </div>
</section>
<section class="container-fluid">
       <div class="row">
        <div class="card-group">
            <div class="card">
              <img src="https://images.unsplash.com/photo-1571102325569-2ce36b41071b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">ON WORK...</h5>
                <p class="card-text"></p>
                <p class="card-text"><small class="text-muted">posted 3 months ago</small></p>
              </div>
            </div>
            <div class="card">
              <img src="https://images.unsplash.com/photo-1573164574572-cb89e39749b4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">A MEETING HELD IN 2023</h5>
                <p class="card-text"></p>
                <p class="card-text"><small class="text-muted"></small></p>
              </div>
            </div>
            <div class="card">
              <img src="https://images.unsplash.com/photo-1571772996211-2f02c9727629?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">DO NOT DISTURB: WOMEN AT WORK!</h5>
                <p class="card-text"></p>
                <p class="card-text"><small class="text-muted">Last updated 5 hrs ago</small></p>
              </div>
            </div>
          </div>
       </div>
</section>
<section class="container-fluid">
    <div class="row row-cols-1 row-cols-md-2">
        <div class="col mb-4">
          <div class="card">
            <img src="https://images.unsplash.com/photo-1504813184591-01572f98c85f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">DURING SKILLS SESSION</h5>
              <p class="card-text">LED BY SENIOR SURGEON DR. GSHAIUSH</p>
            </div>
          </div>
        </div>
        <div class="col mb-4">
          <div class="card">
            <img src="https://images.unsplash.com/photo-1563233987-35f9d4b9a861?ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">HANDS DIRTY: MY LIFE!</h5>
              <p class="card-text">Posted by Prof. Kimberytl after training student surgeons</p>
            </div>
          </div>
        </div>
        <div class="col mb-4">
          <div class="card">
            <img src="https://images.unsplash.com/photo-1528931345244-228afd762769?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">GIRLS OUT</h5>
              <p class="card-text">Surgical students treated themselves to a weekend camp.</p>
            </div>
          </div>
        </div>
        <div class="col mb-4">
          <div class="card">
            <img src="https://images.unsplash.com/photo-1529832588601-c01e066263a8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">DURING ANNUAL RETREAT 1985</h5>
              <p class="card-text"></p>
            </div>
        </div>
    </div>
        <div class="col mb-4">
          <div class="card">
            <img src="https://images.unsplash.com/photo-1573164574511-73c773193279?ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">BOARD MEETING</h5>
              <p class="card-text"></p>
            </div>
        </div>
    </div>
        <div class="col mb-4">
          <div class="card">
            <img src="https://images.unsplash.com/photo-1555725305-e823b44548de?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1052&q=80" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">CONFERENCE IN NICARAGUA</h5>
              <p class="card-text"></p>
            </div>
        </div>
    </div>
        <div class="col mb-4">
          <div class="card">
            <img src="https://images.unsplash.com/photo-1494599948593-3dafe8338d71?ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">WORKING FROM HOME</h5>
              <p class="card-text"></p>
            </div>
        </div>
    </div>
  </div>
</section>

<%- include ("partials/footer")%> 