<%- include ("partials/header")%>

<section class="container-fluid px-0 mt-5">
    <div class="row">
        <div class="col-md-6">
           <img class="img-fluid" src="https://qtxasset.com/styles/breakpoint_xl_880px_w/s3/2017-03/Black_woman_doctor_800.png?ko2W7ruS56J.bv5w_LEFEW56Oqe0d36L&itok=DVp6WAad" alt="">
        </div>
        <div class="col-md-6 mt-5">
           <div class="row justify-content-center ">
               <div class="col-10 text-center align-items-center">
                   <hr>
                <h2 class="text-center">Who We Are</h2>
                <P>
                    We are the Nauru Association of Women in Surgery – NAWS. 
                    NAWS was started in 1923 to empower all women in, or intending to practice, surgery. We also wanted to create a community that improves creativity and innovation in the operating room. 
                    With over <strong>100,000 members</strong>, the association has been served its members diligently. 
                    Community improvement is our drive. 
                    <hr>
                    <strong>Vision</strong>
                    <p>We will help people live longer, healthier, happier lives</p>
                    <hr>
                    <strong>Mission</strong>
                    <p>Making the world the happiest place</p>
                </P>
               </div>
           </div>
        </div>
    </div>
</section>
<section id="section-2" class="container-fluid px-0">
    <div class="row mt-2 py-5 px-0">
        <div class="col-lg-12 text-center">
            <h4>Love Life </h4>
        </div>
    </div>
</section>
<section class="container-fluid px-0">
    <div class="row">
        <div class="col-md-6 order-2 order-md-1">
           <div class="row justify-content-center ">
               <div class="col-10 text-center pt-5 mt-5 mb-5">
                   <hr>
                <h2 class="text-center">MEMBERSHIP</h2>
                <P>
                    Be part of us by filling this <a href="/membership">form</a>
                </P>
                <hr>
               </div>
           </div>
        </div>
        <div class="col-md-6 order-1 order-md-2">
            <img class="img-fluid" src="https://images.unsplash.com/photo-1505751172876-fa1923c5c528?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" alt="">
         </div>
    </div>
</section>
<section id="section-2" class="container-fluid px-0">
    <div class="row mt-2 py-5 px-0">
        <div class="col-lg-12 text-center">
            <h4>At Best, Life is Short</h4>
        </div>
    </div>
</section>
<section class="container-fluid px-0">
    <div class="row">
        <div class="col-md-6">
           <img class="img-fluid" src="https://images.unsplash.com/photo-1511795409834-ef04bbd61622?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" alt="">
        </div>
        <div class="col-md-6">
           <div class="row justify-content-center ">
               <div class="col-10 pt-5 mt-5 mb-5 text-center align-items-center">
                   <hr>
                <h2 class="text-center">Events & Gallery</h2>
                <P>
                    Discover our memories, and events <a href="/gallery">here</a>
                </P>
                <hr>
               </div>
           </div>
        </div>
    </div>
</section>
<section id="section-2" class="container-fluid px-0">
    <div class="row mt-2 py-5 px-0">
        <div class="col-lg-12 text-center">
            <h4>Live Yours</h4>
        </div>
        <div class="col-6">
        </div>
    </div>
</section>
<section class="container-fluid px-0">
    <div class="row">
        <div class="col-md-6 order-2 order-md-1">
           <div class="row justify-content-center ">
               <div class="col-10 text-center pt-5 mt-5 mb-5 align-items-center">
                   <hr>
                <h2 class="text-center">resources</h2>
                <P>
                    Easy access of videos, journals papers, books, and numerous <a href="/resources">resources</a>  
                </P>
                <hr>
               </div>
           </div>
        </div>
        <div class="col-md-6 order-1 order-md-2">
            <img class="img-fluid" src="https://images.unsplash.com/photo-1521587760476-6c12a4b040da?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" alt="">
         </div>
    </div>
</section>
<section id="section-2" class="container-fluid px-0">
    <div class="row mt-2 py-5 px-0">
        <div class="col-lg-12 text-center">
            <h4>Love Yours</h4>
        </div>
        <div class="col-6">
        </div>
    </div>
</section>
<section class="container-fluid px-0">
    <div class="row">
        <div class="col-md-6">
           <img class="img-fluid" src="https://images.unsplash.com/photo-1504439468489-c8920d796a29?ixlib=rb-1.2.1&auto=format&fit=crop&w=1051&q=80" alt="">
        </div>
        <div class="col-md-6">
           <div class="row justify-content-center ">
               <div class="col-10 pt-5 mt-3 mb-5 text-center align-items-center">
                   <hr>
                <h2 class="text-center">BLOG</h2>
                <P>
                    "I joined medical school, but I never imagined myself being a surgeon. I laugh at the reality that I am currently a surgeon..." -Dr Marie Eldred
                    <hr>
                    "At my age, I already want to be a surgeon. Being a medical school has taught me to be patient, but importantly to..." Rosalee Selmer (MBChB 3)
                    <hr>
                    Read & blog more on our experiences and frequent <a href="/blog">blog</a> 
                </P>
               </div>
           </div>
        </div>
    </div>
</section>
<section id="section-2" class="container-fluid px-0">
    <div class="row mt-2 py-5 px-0">
        <div class="col-lg-12 text-center">
            <h4>Hi, am Makini</h4>
        </div>
        <div class="col-6">
        </div>
    </div>
</section>
<section class="container-fluid px-0">
    <div class="row">
        <div class="col-md-6  order-2 order-md-1">
           <div class="row justify-content-center ">
               <div class="col-10 pt-5 mt-5 mb-5 text-center align-items-center">
                   <hr>
                <h2 class="text-center">CHAT ROOM</h2>
                <P>
                    Had a bad day in theatre, or you have a joke/photo you want to share and keep the community alive, visit our <a href="/chatroom">chat room</a> and share your experience today! 
                    <hr>
                    <em>-only supported on iPhone 11-pro & laptop devices</em>
                </P>
                <hr>
               </div>
           </div>
        </div>
        <div class="col-md-6  order-1 order-md-2">
            <img class="img-fluid" src="https://images.unsplash.com/photo-1551076805-e1869033e561?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1490&q=80" alt="">
         </div>
    </div>
</section>
<section id="section-2" class="container-fluid px-0">
    <div class="row mt-5 py-5 px-0 align-items-center">
        <div class="col-lg-12 text-center">
            <h4>Makini</h4>
            <a target="_blank" rel="noopener noreferrer" href="https://www.facebook.com/profile.php?id=100015426282911&lst=100015426282911%3A100015426282911%3A1588095490&sk=about"><i id="social-icons" class="fa fa-facebook-square"></i></a>
            <a target="_blank" rel="noopener noreferrer" href="https://twitter.com/Makini_Makini"><i id="social-icons" class="fa fa-twitter"></i></a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.instagram.com/makini_makini/"><i id="social-icons" class="fa fa-instagram"></i></a>
            <a target="_blank" rel="noopener noreferrer" href="https://github.com/MakiniMakini"><i id="social-icons" class="fa fa-github"></i></a>
        </div>
        <div class="col-6">
        </div>
    </div>
</section>


<%- include ("partials/footer")%>