<%- include ("partials/header")%>
<section class="container-fluid px-0 resources">
    <div class="row">
        <div class="col-lg-12">
            <img class="img-fluid" src="https://images.unsplash.com/photo-1414919823178-e9d9d0afd0ac?ixlib=rb-1.2.1&auto=format&fit=crop&w=1446&q=80" alt="">
            <div class="centered">
                <h2 class="text-center">GREAT RESOURCES</h2>
                <span class="d-none">
                    <p>
                        Includes videos, journal articles, books, and surgical skills!
                    </p>
                </span>
            </div>
        </div>
    </div>
</section>
<section class="container-fluid px-0 resources">
    <div class="row">
        <div class="col-sm-10">
            <div class="list-group">
                <a target="blank" href="https://bookauthority.org/books/best-surgery-books" class="list-group-item list-group-item-action active">
                  <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">BOOKS</h5>
                    <small>2 days ago</small>
                  </div>
                  <p class="mb-1">Books that have made great surgeons.</p>
                  <small>All are E-books</small>
                </a>
                <a target="blank" href="https://www.academia.edu/37780581/Bailey_and_Loves_Short_Practice_of_Surgery_27th_Edition.pdf" class="list-group-item list-group-item-action">
                  <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">Bailey & Love's</h5>
                    <small class="text-muted">40 days ago</small>
                  </div>
                  <p class="mb-1">A great book with surgical cases reviews.</p>
                  <small class="text-muted">Henry Hamilton Bailey</small>
                </a>
                <a target="blank" href="https://accesssurgery.mhmedical.com/book.aspx?bookID=2576#208296159" class="list-group-item list-group-item-action">
                  <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">Schwartz's Principles of Surgery, 11e</h5>
                    <small class="text-muted">30 mins ago</small>
                  </div>
                  <p class="mb-1">F. Charles Brunicardi, Dana K. Andersen, Timothy R. Billiar, David L. Dunn, Lillian S. Kao, John G. Hunter, Jeffrey B. Matthews, Raphael E. Pollock</p>
                  <small class="text-muted">All Surgical Priciples Explained</small>
                </a>
              </div>
        </div>
        <div class="col-sm-2">
            <img class="img-fluid" src="https://images.unsplash.com/photo-1534040385115-33dcb3acba5b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80" alt="">
        </div>
    </div>
</section>
<section class="container-fluid px-0 resources">
    <div class="row">
        <div class="col-sm-10">
            <div class="list-group">
                <a href="#" class="list-group-item list-group-item-action bg-danger text-white">
                    <div class="d-flex w-100 justify-content-between">
                      <h5 class="mb-1">VIDEOS</h5>
                      <small class="text-muted"></small>
                    </div>
                    <p class="mb-1">Surgical videos to improve the experience of our members!</p>
                    <small class="text-muted">AWS</small>
                  </a>
                <a target="blank" href="https://www.youtube.com/watch?v=WhGK8PbdODs" class="list-group-item list-group-item-action ">
                  <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">WOMEN IN SURGERY</h5>
                    <small>22 days ago</small>
                  </div>
                  <p class="mb-1">A day in the life of Dr. Maral Ouzounian, a cardiac surgeon at the University Health Network's world-class Peter Munk Cardiac Centre in Toronto, Canada. On this day Dr. Ouzounian tackles a complicated aortic valve-sparing root replacement to remove an aneurysm of the aortic root, while balancing a clinic full of patients, mentoring new surgeons, and a busy home life.</p>
                  <small>Dr. Maral Ouzounian</small>
                </a>
                <a target="blank" href="https://www.youtube.com/watch?v=bk-MwhOrXOI" class="list-group-item list-group-item-action">
                  <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">Women in Surgery: Courage Commitment Compassion</h5>
                    <small class="text-muted">7 min ago</small>
                  </div>
                  <p class="mb-1">Kimberly Dalal asks the question "Why? Why are there fewer women in surgery than men?"  In this poignant and inspiring talk, Dalal shares her personal story of courage, commitment, and compassion serving as a surgeon in the armed forces.</p>
                  <small class="text-muted">Kimberly M. Dalal, M.D.</small>
                </a>
              </div>
        </div>
        <div class="col-sm-2">
            <img class="img-fluid" src="https://images.unsplash.com/photo-1535033303881-1f626566b35e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=700&q=80" alt="">
        </div>
    </div>
</section>
<section class="container-fluid px-0 resources">
    <div class="row">
        <div class="col-sm-10">
            <div class="list-group">
                <a href="#" class="list-group-item list-group-item-action bg-transparent ">
                  <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">JOURNAL ARTICLES</h5>
                    <small></small>
                  </div>
                  <p class="mb-1">Access all journal articles and improve your surgical knowledge.</p>
                  <small>Open Access Journals</small>
                </a>
                <a target="blank" href="https://www.elsevier.com/about/open-science/open-access/open-access-journals" class="list-group-item list-group-item-action">
                  <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">ELSEVIER JOURNALS</h5>
                    <small class="text-muted">1 day ago</small>
                  </div>
                  <p class="mb-1">All articles in open access journals which are published by Elsevier have undergone peer review and upon acceptance are immediately and permanently free for everyone to read and downloa</p>
                  <small class="text-muted">Elsevier</small>
                </a>
                <a href="#" class="list-group-item list-group-item-action">
                  <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">ANNALS OF SURGERY</h5>
                    <small class="text-muted">Since 1885</small>
                  </div>
                  <p class="mb-1">The Annals of Surgery is a monthly peer-reviewed medical journal of surgical science and practice. It was started in 1885 by Lippincott Williams & Wilkins.</p>
                  <small class="text-muted"> Williams & Wilkins.</small>
                </a>
              </div>
        </div>
        <div class="col-sm-2">
            <img class="img-fluid" src="https://images.unsplash.com/photo-1585734862221-adb1387d1320?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80" alt="">
        </div>
    </div>
</section>
<section class="container-fluid px-0 resources">
    <div class="row">
        <div class="col-sm-10">
            <div class="list-group">
                <a href="#" class="list-group-item list-group-item-action bg-secondary text-white">
                  <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">MENTORSHIP & CAREER EMPOWERMENT</h5>
                    <small></small>
                  </div>
                  <p class="mb-1">Learn from other surgeons and share your current-read!</p>
                  <small>Great Books</small>
                </a>
                <a target="blank" href="https://nairalearn.com/wp-content/uploads/2018/07/Download-Becoming-Michelle-Obama.pdf" class="list-group-item list-group-item-action">
                  <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">BECOMING</h5>
                    <small class="text-muted">14 hrs ago</small>
                  </div>
                  <p class="mb-1">Becoming: A Guided Journal for Discovering Your Voice is the memoir of former United States first lady Michelle Obama published in 2018. The book talks about her roots and how she found her voice, as well as her time in the White House, her public health campaign, and her role as a mother. It sold more copies than any other book published in the United States in 2018, breaking the record in just 15 days.</p>
                  <small class="text-muted">Michelle Obama</small>
                </a>
                <a  target="blank" href="https://www.humbleisd.net/cms/lib/TX01001414/Centricity/Domain/5915/When%20Breath%20Becomes%20Air%20-%20Full%20Text.pdf" class="list-group-item list-group-item-action">
                  <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">WHEN BREATH BECOMES AIR</h5>
                    <small class="text-muted text-success">..current read</small>
                  </div>
                  <p class="mb-1">When Breath Becomes Air is a non-fiction autobiographical book written by Paul Kalanithi. It is a memoir about his life and illness, battling stage IV metastatic lung cancer. It was posthumously published by Random House on January 12, 2016.</p>
                  <small class="text-muted">Paul Kalanithi</small>
                </a>
              </div>
        </div>
        <div class="col-sm-2">
            <img class="img-fluid" src="https://images.unsplash.com/photo-1518553634183-40a6deeae021?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="">
        </div>
    </div>
</section>


<%- include ("partials/footer")%>